<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name=author content="Nicole Li, Amy Chan, Debbie Hahm">
        <title>WellesleyStays</title>
        <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block head_stuff %} {% endblock %}
    </head>
    <body>
        <ul id="navbar">
            <li class="navitem"><a class="{{ 'active' if active_page == 'index' else '' }}"
                 href="{{url_for('index')}}">Home</a></li>
            {% if 'CAS_USERNAME' in session %}
                <li class="navitem"><a class="{{ 'active' if active_page == 'profile' else '' }}"
                     href="{{url_for('profile', bnumber=session['CAS_ATTRIBUTES']['cas:id'])}}">Profile</a></li>
                <li class="navitem"><a class="{{ 'active' if active_page == 'listing' else '' }}"
                     href="{{url_for('listing')}}">List</a></li>
                <li class="navitem"><a class="{{ 'active' if active_page == 'requesting' else '' }}"
                     href="{{url_for('requesting')}}">Post</a></li>
                <li class="navitem"><a class="{{ 'active' if active_page == 'searchListing' else '' }}"
                     href="{{url_for('searchListing')}}">Listings</a></li>
                <li class="navitem"><a class="{{ 'active' if active_page == 'searchRequest' else '' }}"
                     href="{{url_for('searchRequest')}}">Requests</a></li>
            {% endif %}
        </ul>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        {% block main_content %}
            <h2>Welcome to WellesleyStays</h2>
        {% endblock %}
    </body>
</html>
</html>