{% extends "base.html" %}

{% block main_content %}
  <h1>FORM</h1>
      <form action="/formecho/" method="post">
          <div>
            <label for="name">NAME</label> <input type="text" id="name" name="user_name">
          </div>
          <div>
            <label for="fruits">FRUIT</label> 
            <select name="fruits">
                  <option value="mangosteen">MANGOSTEEN</option>
                  <option value="durian">DURIAN</option>
                  <option value="dragonfruit">DRAGONFRUIT</option>
                  <option value="rambutan">RAMBUTAN</option>
                </select>
          </div>
          <div>
            <label for="msg">MESSAGE</label> <textarea id="msg" name="user_message"></textarea>
          </div>
          <div class="button">
            <button type="submit">SEND</button>
          </div>
      </form>
      <br>
{% endblock %}