{% extends "base.html" %}

{% block main_content %}
  <h1>NEW USER</h1>
      <form action="{{url_for('insertUser')}}" method="post">
          <div>
            <label for="bnumber">BNUMBER <span style="color: red;">*</span></label> 
            <input type="text" id="bnumber" name="bnumber" value="{{attributes['cas:id']}}" required placeholder="B12345678">
          </div>
          <div>
            <label for="email">EMAIL <span style="color: red;">*</span></label> 
            <input type="text" id="email" name="email" value="{{attributes['cas:mail']}}" required placeholder="wwelles@wellesley.edu">
          </div>
          <div>
            <label for="name">NAME <span style="color: red;">*</span></label> 
            <input type="text" id="name" name="user_name"  required placeholder="Wendy Wellesley">
          </div>
          <div>
            <label for="phonenum">PHONE <span style="color: red;">*</span></label> 
            <input type="text" id="phonenum" name="phonenum" required placeholder="6789998212">
          </div>
          <div class="button">
            <button type="submit">SEND</button>
          </div>
      </form>
      <br>
{% endblock %}