{% extends "base.html" %}
{% set active_page = "listing" %}

{% block main_content %}
<h2>List A Place</h2>
    <form method="POST" action="{{url_for('listingecho')}}">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="user" value="{{user.bnumber}}" placeholder="{{user.name}}" readonly>
        </div>
        <div>
            <label for="street1">Street 1</label>
            <input id="street1" type="text" name="street1" placeholder="1234 Main St" required>
        </div>
        <div>
            <label for="street2">Street 2</label>    
            <input id="street2" type="text" name="street2" placeholder="Apartment, studio, or floor">
        </div>
        <div>
            <label for="city">City</label>
            <input id="city" type="text" class="form-control" name="city" required>
        </div>
        <div>
            <label for="state">State</label>
            <input id="state" type="text" name="state">
        </div>
        <div>
            <label for="zip">Zip Code</label>
            <input id="zip" type="text"  name="zip">
        </div>
        <div>
            <label for="country">Country</label>
            <input id="country" type="text" name="country" required>
        </div>
        <div>
            <label for="maxguest">Max number of guests</label>
            <input id="maxguest" type="number" name="maxguest" required>
        </div>
        <div>
            <label for="start">Start</label>
            <input id="start" type="date" name="start" required>
        </div>
        <div>
            <label for="end">End</label>
            <input id="end" type="date" name="end" required>
        </div>
        <button type="submit">List!</button>
    </form>
{% endblock %}
