{% extends "base.html" %}

{% block main_content %}
<h2>Host Contact</h2>
  <div id="contact">
    <button type="button" class="contact-button"
            onclick="window.location.href='{{url_for('profile', bnumber=host.bnumber)}}';">
      <li>Name: {{host.name}}</li>
      <li>Email: {{host.email}}</li>
      <li>Phone: {{host.phonenum}}</li>
  </button>
  </div>
  <h2>Place Info</h2>
  <div id="listings">
    <div class="listing">
      <li>PID: {{place.pid}}</li> 
      <li>City: {{place.city}}</li>
      <li>Country: {{place.country}}</li>
      <!-- <li>Address: {{place.street1}}</li> -->
      <li>State: {{place.state}}</li>
      <li>Max Guests: {{place.maxguest}}</li>
      <!-- <li>Postal Code: {{place.postalcode}}</li> -->
      {% if src is not none %}
      <br>
        <li><img src="{{src}}" alt="listing image" style="width: 30em; height: auto;"></li>
      {% endif %}

      {% if session['CAS_ATTRIBUTES']['cas:id'] == host.bnumber %}
      <a href="{{url_for('editListing', pid=place.pid)}}"><button type="submit" class="button">Edit</button></a>
      <form id="deleteListing" action="{{url_for('deleteListing', pid=place.pid)}}" method="post">
          <button type="submit" onclick="return confirm('Are you sure you want to delete?')" class="button" name="deleteListing" value="deleteListing">Delete</button>
      </form>
      {% endif %}

    </div>
  </div>

{% if availability %}
<h2>Availabilities</h2>
<div id="availabilities">

  {% for data in availability %}
  <div class="availability" data-aid="{{data.aid}}">
    <li>AID: {{data.aid}}</li> 
    <li>Start: {{data.start}}</li>
    <li>End: {{data.end}}</li>

    {% if session['CAS_ATTRIBUTES']['cas:id'] == host.bnumber %}
    <a href="{{url_for('editAvailability', aid=data.aid)}}"><button type="submit" class="button">Edit</button></a>
    <!-- <form id="deleteAvailability" action="{{url_for('deleteAvailability', aid=data.aid)}}" method="post"> -->
        <button onclick="return confirm('Are you sure you want to delete?')" 
                class="deleteAvailability button" name="deleteAvailability" value="deleteAvailability">
                Delete
        </button>
    <!-- </form> -->
    {% endif %}
  </div>
  {% endfor %}

</div>
{% endif %}

<div>

{% if session['CAS_ATTRIBUTES']['cas:id'] == host.bnumber %}
<h4>Add An Availability</h4>
<form id="addAvailability" action="{{url_for('addAvailability', pid=place.pid)}}" method="post"> 
  <div>
        <label for="start">Start <span style="color: white;">*</span></label>
        <input id="start" type="date" name="start" required>
    </div>
    <div>
        <label for="end">End <span style="color: white;">*</span></label>
        <input id="end" type="date" name="end" required>
    </div>
    <button type="submit" class="button" name="addAvailability" value="addAvailability">Add</button>
</form>
{% endif %}

</div>

{% if session['CAS_ATTRIBUTES']['cas:id'] != host.bnumber %}
<h2>Report A Problem</h2>
<button type="button" class="contact-button"
          onclick="window.location.href='{{url_for('report', bnumber=host.bnumber)}}';">
    Report A Problem
</button>
{% endif %}

<script>var url = "{{url_for('deleteAvailabilityAjax')}}"</script>
<script src="{{url_for('static',filename='plain.js')}}"></script>
 
{% endblock %}