{% extends "base.html" %}
{% if session['CAS_ATTRIBUTES']['cas:id'] == user.bnumber %}
{% set active_page = "profile" %}
{% endif %}

{% block main_content %}
<h2>Contact Info</h2>
<div id="contact">
  <div class="contact-box">
    <li>Name: {{user.name}}</li>
    <li>Email: {{user.email}}</li>
    <li>Phone: {{user.phonenum}}</li>
  </div>
</div>
<!-- <div id="profile"> -->
  {%if listings%}
  <h2>Listings</h2>
  <div id="listings">
    {%for place in listings%} 
    <button type="button" class="contact-button"
            onclick="window.location.href='{{url_for('place', pid=place.pid)}}';">
            <li>PID: {{place.pid}}</li> 
            <li>City: {{place.city}}</li>
            <li>Country: {{place.country}}</li>
            <!-- <li>Address: {{place.street1}}</li> -->
            <li>State: {{place.state}}</li>
            <li>Max Guests: {{place.maxguest}}</li>
            <!-- <li>Postal Code: {{place.postalcode}}</li> -->
  </button>
    {%endfor%}  
  </div>
  {%endif%}
  {%if requests%}
  <h2>Requests</h2>
  <div id="requests">
    {%for r in requests%} 
    <button type="button" class="contact-button"
            onclick="window.location.href='{{url_for('requestPage', rid=r.rid)}}';">
            <li>RID: {{r.rid}}</li> 
            <li>Fulfilled? {{r.isfilled}}</li>
            <li>Number of Guests: {{r.guestnum}}</li>
            <li>City: {{r.city}}</li>
            <li>Country: {{r.country}}</li>
            <li>Start: {{r.start}}</li>
            <li>End: {{r.end}}</li>
  </button>
    {%endfor%} 
  </div>
  {%endif%}
<!-- </div> -->
{% endblock %}