{% extends "base.html" %}

{% block main_content %}
<h2>Guest Contact</h2>
  <div id="contact">
    <button type="button" class="contact-button"
            onclick="window.location.href='{{url_for('profile', bnumber=guest.bnumber)}}';">
            <li>Name: {{guest.name}}</li>
            <li>Email: {{guest.email}}</li>
            <li>Phone: {{guest.phonenum}}</li>
  </button>
  </div>
  <h2>Request Info</h2>
  <div id="requests">
    <div class="request">
      <li>RID: {{aRequest.rid}}</li> 
      <li>City: {{aRequest.city}}</li>
      <li>Country: {{aRequest.country}}</li>
      <li>Number of Guests: {{aRequest.guestnum}}</li>
      <li>Start: {{aRequest.start}}</li>
      <li>End: {{aRequest.end}}</li>
      <li>Filled?: {{aRequest.isfilled}}</li>
    </div>
  </div>
{% endblock %}