{% extends "base.html" %}

{% block main_content %}
  
        <form id="search" method=POST action="/lisitings/">
        <fieldset>
        <legend>Find a Listing</legend>
            <p><label>City: <input id="searchterm" placeholder="I'm looking for a place in..." name="searchterm"></label></p>
            <button id="searchbutton" type="submit" name="submit" value="search">Find!</button>
            <p><select name ="guests">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5+</option>
                </select></p>
        </fieldset>
        </form> 


    <h1>Listings: </h1>
    <ul>
    {% for data in listings %}
    <li>{{data['city']}}</li>
    {% endfor %}
    </ul>
{% endblock %}